<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{project.title}}</title>
</head>
<body>
    <div id="content" style="margin: 0 auto; width:60%">
        <h1>{{project.title}}</h1>

        <ul id="post">
            {% for post in posts %}
                <li><a href="{{ post.href }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>