<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ settings.title }}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/aa.css')}}">
</head>
<body>
    <div id="content" style="margin: 0 auto; width:60%">
        <div><h1>{{ settings.title }}</h1></div>
        <div><i style="color:gray">{{ settings.date }}</i></div>
        <br>
        <div><span>123</span></div>
        <br>
        {{ content|safe }}
    </div>
    <div>
        
    </div>
</body>
</html>